{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class=container1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Timestamp</th>

        </tr>
    </thead>

    <tbody>
        {% for entry in display %}
            <tr>
                <th> {{entry.name}} </th>
                <th> {{entry.comment}} </th>
                <th> {{entry.timestamp}} </th>
            </tr>
        {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
    </tbody>
</table>
<form action="/comment" method="post">
    <div class="form-group">
        <input autocomplete="off" class="form-control" name="comment" placeholder="Comment" type="text">
        <button class="btn btn-primary" type="submit">Post</button>
    </div>
        
</form>
</div>
{% endblock %}

